# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
.venv-1/
venv/
ENV/
env/

# Notebooks
.ipynb_checkpoints/

# Generated outputs
outputs/

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
